body {
    padding: 100px;
}

.bank-title{
    text-align: center;
}

.submit-area{

    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    padding: 40px;
}
#transaction-area{
    display: none;
}
.status{
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;
    color: mintcream;
}
.deposit{
    background-color: lightslategrey;
}
.withdraw{
    background-color: maroon;
}
.balance{
    background-color: mediumturquoise;
}